* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #9EBD6E;
	text-align: center;
}

h1 {
	font-size: 7vmin;
	padding-top: 7vmin;
	color: #805D93;
}
.container {
	height: 70vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.game {
	height: 60vmin;
	width: 60vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5vmin;

}

.box {
	height: 18vmin;
	width: 18vmin;
	border-radius: 1rem;
	border: none;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	font-size: 9vmin;
	color: #F49FBC;
	background-color: #805D93;
}

.reset-btn {
	padding: 1rem;
	margin-top: 4vmin;
	font-size: 1.25rem;
	background-color: #805D93;
	border-radius: 1rem;
	border: none;
}

.new-btn {
	padding: .7rem;
	font-size: 1.25rem;
	background-color: #805D93;
	border-radius: 1rem;
	border: none;
}

#start-game {
	height: 90vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.startBtn {
	padding: 2rem;
	font-size: 2rem;
	background-color: #805D93;
	color: #9EBD6E;
	font-weight: 700;
	border-radius: 1rem;
	border: none;
}

#msg {
	color: #805D93;
	font-size: 7vmin;
}

.msg-container {
	height: 100vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.hide {
	display: none;
}